@use postcss-short;

.title {
  font: normal 26px CircularStd;
  color: #6e7987;
  margin-bottom: 15px;
}

.text {
  font: normal 16px/24px CircularStd;
  color: #6e7987;
}

.buttons {
  width: 250px;
  margin-top: 25px;
}

.copy {
  margin: 15px 0 25px;
}
