@use postcss-short;

.wrap {
  position: relative;
}

.password {
  background-color: #2c2a2a;
  color: #fff;
  font: normal 15px CircularStd;
  padding: 15px;
  border: 1px solid #f52c5a;
  border-radius: 4px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: 0.1s linear all;

  &.bright {
    background-color: #fff;
    color: #000;
  }

  &:focus {
    border: 1px solid #fff;
  }
}

.invalid {
  composes: password;
  border: 1px solid #ff001f;

  &:focus {
    border: 1px solid #ff001f;
  }
}

.valid {
  composes: password;
  border: 1px solid #00dc85;

  &:focus {
    border: 1px solid #00dc85;
  }
}

.eye {
  position: absolute 50% 10px * *;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
  transition: 0.1s linear all;
}

.active {
  composes: eye;
  opacity: 1;
}
